# Prefer the deduplication of dependencies to minimize duplicates in the node_modules directory
prefer-dedupe=true

# Set the default version prefix for installed packages to caret (^), ensuring minor updates
save-prefix="^"

# Specify the default branch for npm publish operations
publish-branch=main

# Automatically install peer dependencies
auto-install-peers=false

# Deduplicate direct dependencies in the node_modules directory
dedupe-direct-deps=true

enable-pre-post-scripts=true
