LICENSE
.editorconfig
.gitattributes
.gitignore
.nvmrc
.npmrc

node_modules
dist
__fixtures__

.next/
build/
dist

node_modules/
target/
coverage/
snapshot/
generated/
pnpm-lock.yaml
.prettierignore
package.json
jest.config.js
